.container{
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}
.header{
    font-weight: bold;
}
.item{
    padding: 20px;
}
.item:nth-child(even){
    background: rgb(100,200,200);
}

.item:nth-child(odd){
    background: rgb(130,180,250);
}